@{
	ViewBag.Title = "Home Page";
}

<div class="jumbotron">
	<h1>ASP.NET</h1>
	<h3>(Framework 4.8 and MVC 5 Application)</h3>
	<p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
	<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
	<div class="col-md-4">
		<h2>Getting started</h2>
		<p>
			ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
			enables a clean separation of concerns and gives you full control over markup
			for enjoyable, agile development.
		</p>
		<p>Name: @ViewBag.FirstName</p>
		<p>City: @ViewBag.City</p>
		<p>No.: @ViewBag.NNumber</p>
		<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
	</div>
	<div class="col-md-4">
		<h2>Get more libraries</h2>
		<p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
		@{
			var int_A = 10;
			var int_B = 20;
			var sum = int_A + int_B;
			<p>A = @int_A , B = @int_B</p>
			<p>Sum of two number is : @sum</p>

			if (int_A > int_B)
			{
				<p>A is Greater than B</p>
			}
			else
			{
				<p>B is Greater than A</p>
			}

		}

		<hr />

		<p>Dropdown Using viewbag with Html.DropDownList</p>

		@Html.DropDownList("ListItem", new SelectList(ViewBag.ListItem, "Value", "Text"), new { @class = "form-control" })

		<hr />

		<p>Populating With ViewData Data, </p>
		@*can be use TempDate too >> TempData["MySkills"] = mySkills;*@
		@Html.DropDownList("MySkills", (IEnumerable<SelectListItem>)ViewData["MySkills"], new { @class = "form-control" })

		<hr />

		<p>Populate a DropDownList using Enum</p>
		@Html.DropDownList("MySkills", new SelectList(ViewBag.MySkillEnum, "Value", "Text"), new { @class = "form-control" })

		<hr />

		<p>Populating With Hardcoded Data</p>

		@Html.DropDownList("MySkills", new List<SelectListItem>
		{
		   new SelectListItem{ Text="ASP.NET MVC", Value = "1" },
		   new SelectListItem{ Text="ASP.NET WEB API", Value = "2" },
		   new SelectListItem{ Text="ENTITY FRAMEWORK", Value = "3" },
		   new SelectListItem{ Text="DOCUSIGN", Value = "4" },
		   new SelectListItem{ Text="ORCHARD CMS", Value = "5" },
		   new SelectListItem{ Text="JQUERY", Value = "6" },
		   new SelectListItem{ Text="ZENDESK", Value = "7" },
		   new SelectListItem{ Text="LINQ", Value = "8" },
		   new SelectListItem{ Text="C#", Value = "9" },
		   new SelectListItem{ Text="GOOGLE ANALYTICS", Value = "10" },
		},"Select ...", new { @class = "form-control"})

		@*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>*@

	</div>
	<div class="col-md-4">
		<h2>Web Hosting</h2>
		<p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
		@for (int i = 1; i <= 10; i++)
		{
			<p>2 X @i = @(2 * i)</p>
		}
		<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
	</div>
</div>



@*public JsonResult ReturnJSONDataToAJax() //It will be fired from Jquery ajax call
{
    CSharpCornerEntities cshparpEntity = new CSharpCornerEntities();
    var jsonData = cshparpEntity.MySkills.ToList();
    return Json(jsonData, JsonRequestBehavior.AllowGet);
}


<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript">

	$(document).ready(function () {
		$.ajax({
			url: "ReturnJSONDataToAJax",
			type: "GET",
			contentType: "application/json; charset=utf-8",
			datatype: JSON,
			success: function (result) {
				$(result).each(function () {
					$("#FromJson").append($("<option></option>").val(this.ID).html(this.Name));
				});
			},
			error: function (data) { }
		});
	});
</script>



<tr>
	<td> Populating With Json Data </td>
	<td>
		@Html.DropDownList("FromJson", new SelectList(Enumerable.Empty
	   <SelectListItem>()))
	</td>
</tr>*@  