@model IEnumerable<ASPNETMVC5WebApp.Models.Product>

@{
    ViewBag.Title = "All Product";
}

<h2>All Product</h2>

@using (Html.BeginForm("SearchProduct", "Product", FormMethod.Get))
{
	<div class="row">
		<div class="col-md-12">
			<div class="form-group">
				<label>Search : </label>
				<div class="input-group">
					<div class="input-group-btn">
						<input type="text" class="form-control" id="id_search" name="searchkeyword" />
						<input type="submit" value="Search" class="btn btn-success" />
						@Html.ActionLink("Create New", "CreateProduct", "Product", new { @class = "btn btn-primary" })
						@Html.ActionLink("Get All Product", "GetAllProduct", "Product", new { @class = "btn btn-primary" })
					</div>
				</div>
			</div>
		</div>

	</div>
}

<p>
	
</p>
<table class="table table-bordered table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Supplier)
        </th>
        <th>Actions</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProductName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Supplier)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
