@model IEnumerable<ASPNETMVC5WebApp.Models.Category>

@{
    ViewBag.Title = "All Category";
}

<h2>All Category</h2>

<p>
    @Html.ActionLink("Create New", "CreateCategory")
</p>
<table class="table table-bordered table-hover">
	<tr>
		<th>
			@Html.DisplayNameFor(model => model.Id)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.CategoryName)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Status)
		</th>
		<th>Actions</th>
	</tr>

@foreach (var item in Model) {
	<tr>
		<td>
			@Html.DisplayFor(modelItem => item.Id)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.CategoryName)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.Status)
		</td>
		<td>
			@Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
			@Html.ActionLink("Delete", "Delete", new { id = item.Id })
		</td>
	</tr>
}

</table>
